.app-container {
  width: 100%;
  display: flex;
}

body {
  font-family: 'Gaegu';
}

main {
  width: 100%;
}

.game-square {
  position: absolute;
}

.titleText {
  display: flex;
  align-items: center;
  margin: 10rem auto;
  flex-direction: column;
}

.input {
  width:200px;
  padding:20px;
  border-radius: 100px;
  font-size: 30px;
  background-color:#f3faab;
  font-family: 'gaegu';
}

.addPlayerButton {
  color: black;
  background-color: #f3faab;
  border-radius: 100px;
  font-size: 15px;
  padding: 8px 10px;
  cursor: pointer;
  font-family: 'gaegu';
}

.title1 {
  flex: 1;
  font-size:100px;
  border: solid;
  border-radius: 100px;
  background-color: #f3faab;
  padding: 0px 25px;
}

.title2 {
  flex: 1;
  font-size:80px;
  border:solid;
  border-radius: 100px;
  background-color: #f3faab;
  padding: 0px 25px;
}

.splashForms {
  font-size: larger;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  background-image: url(../public/Cat-Life-board.jpg);
  position: absolute;
  max-height: 100vh;
  background-size: 3710px 900px;
  border: none; /* Remove border */
  background-repeat: no-repeat;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.characterModel {
  height: 100px;
  width: 120px;
}

.wheel {
  font-size: 35px;
  position: fixed;
  bottom: -40px;
  left: -130px;
  height: 500px;
  width: 500px;
}

.audioPlayer {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.footer {
  display: flex;
  align-items: flex-end;
}

.playerBox {
  font-size: larger;
  background-color: #f3faab;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 10px solid;
  border-radius: 50px;
}

.Popup-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.Popup {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  border-radius: 50px;
  background-color: #f3faab;
  width: 300px;
  height: 350px;
  padding: 10px;
  gap: 2px;
  line-height: 1.5;
}

.footerPopup {
  position: absolute;
  border: 5px solid;
  border-radius: 50px;
  background-color: #f3faab;
  width: auto;
  height: auto;
  padding: 5px;
  gap: 2px;
  line-height: 1.5;
  padding: 5px;
  bottom: 80px;
}

.catTowerIcon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.ownerIcon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* ---------- POPUP BUTTON ---------------------------*/

.PopupButton {
  background-color: #f6f7d7;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.PopupButton:hover {
  background-color: #fff;
}

.PopupButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .PopupButton {
    min-width: 120px;
    padding: 0 25px;
  }
}

