.app {
  width: 100%;
  display: flex
}

.game-square{
position: absolute;
}

body {
  display:flex;
  background-repeat: repeat;
}

@keyframes flashing {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

