.app {
  width: 100%;
  display: flex;
}

.game-square {
  position: absolute;
}

body {
  display: flex;
  overflow-y: hidden;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.game-board {
  background-image: url(../public/Cat-Life-board.jpg);
  position: absolute;
  max-height: 100vh;
  background-size: 3710px 900px;
  border: none; /* Remove border */
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.characterModel {
  height: 100px;
  width: 120px;
}

.wheel {
  font-size: 35px;
  position: fixed;
  bottom: -40px;
  left: -130px;
  height: 500px;
  width: 500px;
}

.audioPlayer {
  /* position: fixed; */
  /* top: 10px;
  left: 10px; */
}

.footer {
  display: flex;
  align-items: flex-end;
}

.playerBox {
  font-size: larger;
  background-color: #f3faab;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 10px solid;
  border-radius: 50px;
}

.Popup-container {
  /* background-color: red; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%; */
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.Popup {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  border-radius: 50px;
  background-color: #f3faab;
  width: 300px;
  height: 350px;
  padding: 10px;
  gap: 2px;
  line-height: 1.5;
}

.houseIcon {
  width: 50px;
  height: 50px;
}

/* ---------- BUTTON ---------------------------*/

.PopupButton {
  background-color: #f6f7d7;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.PopupButton:hover {
  background-color: #fff;
}

.PopupButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .PopupButton {
    min-width: 120px;
    padding: 0 25px;
  }
}
