body {
  background: #3EC1D3;
}

.confetti {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  color:#f6f7d7;
  font-family: 'Aclonica'
}
a:link { text-decoration: none; }

.button {
  font-family: 'Aclonica';
  color:#ff165d;
  background-color: #f6f7d7;
  border-radius: 100px;
  font-size: 20px;
  padding: 14px 28px;
  cursor: pointer;
}

.buttonstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}